# .gitignore
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
.DS_Store?

# Folder metadata
Icon?

# macOS specific
.Trashes
.fseventsd
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
